@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #151516;
  /* --background: white; */
  --foreground: #F0EDE8;
}

@layer components {
  .fluid-container {
    /* @apply mx-auto w-full max-w-495 px-2.5 md:px-5; */
    @apply mx-auto w-full px-2.5 md:px-5;
  }
}

:root {
  background: #151516;
  scroll-behavior: smooth;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .animated {
    will-change: transform;
  }

  * {
    cursor: none !important;
    /* Hide the default cursor */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* --font-montserrat: var(--font-montserrat), sans; */
  --font-cera: var(--font-cera), sans;
  --font-bluescreens: var(--font-bluescreens), sans;

  --animate-ride: ride 0.8s ease-in-out;
  --animate-button: button-hover 0.8s ease-in-out;

  --breakpoint-xs: 26.875rem;

  @keyframes ride {

    0%,
    100% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    75% {
      transform: translateX(3px);
    }
  }

  @keyframes button-hover {

    0%,
    100% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(10px);
    }

    75% {
      transform: translateX(-1px);
    }
  }
}


@utility container {
  margin-inline: auto;
  padding-inline: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: cera, sans;
}
