@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #151516;
  /* --background: white; */
  --foreground: #F0EDE8;
}

@layer components {
  .fluid-container {
    /* @apply mx-auto w-full max-w-495 px-2.5 md:px-5; */
    @apply mx-auto w-full px-2.5 md:px-5;
  }
}

:root {
  background: #151516;
  scroll-behavior: smooth;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .animated {
    will-change: transform;
  }

  * {
    cursor: none !important;
    /* Hide the default cursor */
  }

  /* Блокировка скролла для модальных окон */
  body.modal-open {
    overflow: hidden !important;
    position: fixed !important;
    width: 100% !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* --font-montserrat: var(--font-montserrat), sans; */
  --font-cera: var(--font-cera), sans;
  --font-bluescreens: var(--font-bluescreens), sans;

  --animate-ride: ride 0.8s ease-in-out;
  --animate-button: button-hover 0.8s ease-in-out;

  --breakpoint-xs: 26.9375rem;
  --breakpoint-md: 48.0625rem;

  @keyframes ride {

    0%,
    100% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    75% {
      transform: translateX(3px);
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes button-hover {

    0%,
    100% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(10px);
    }

    75% {
      transform: translateX(-1px);
    }
  }
}

.animate-fadeInOut {
  animation: fadeInOut 0.5s ease-in-out;
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {}
}

.hide-children-except-last *:not(:last-child) {
  opacity: 0;
}

/* Анимация проектов */
.projects-grid-item {
  opacity: 0;
  /* transform: scale(0.9) translateY(15px); */
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.projects-grid-item.animate-in {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.projects-grid-item.initial-state {
  opacity: 0;

  transform: scale(0.9) translateY(15px);
}
.projects-grid-item.flash-animate-in {
  /* transform: scale(1) translateY(0); */
  opacity: 1;
}
.projects-grid-item.flash-initial-state {
  opacity: 0;
  /* transform: scale(1) translateY(0); */
}

.page-transition {
  view-transition-name: root; /* "Тег" для всего body */
}

::view-transition-old(root) {
  animation: fade-out 0.3s ease-out forwards;
}

::view-transition-new(root) {
  animation: fade-in 0.3s ease-in forwards;
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: cera, sans;
}
