@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .fluid-container {
    @apply mx-auto w-full max-w-330.5 px-6.25 md:px-5 lg:px-4;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none; /* Hide the default cursor */
}
